:root {
	--brand: hsl(212, 90%, 65%);
	--color0: hsl(0, 0%, 95%);
	--color1: hsl(0, 0%, 75%);
	--color2: hsl(0, 0%, 65%);
	--layer0: hsl(0, 0%, 0%);
	--layer1: hsla(0, 0%, 10%, 75%);
	--layer2: hsl(0, 0%, 20%);
	--transparent: 20%;
}
