:root {
	--xsmall: 0.25em;
	--small: 0.75em;
	--medium: 1em;
	--large: 2em;
}

/* Typography */
/** Links **/
a:link, a:visited {
	color: var(--brand);
	text-decoration: unset;
}
a:hover {
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
}
/** Font **/
body {
	color: var(--color0);
	font-family: system-ui;
}
p, ul, ol {
	line-height: 1.5em;
}

h4 {
	color: var(--color1);
}
h5, h6 {
	color: var(--color2);
}
/** Inline Code **/
code {
	background-color: var(--layer1);
	padding-inline: var(--xsmall);
	border-radius: var(--xsmall);
}
/** Code Blocks **/
pre code {
	background-color: unset;
	padding: unset;
	border-radius: unset;
}
.highlight pre {
	background-color: var(--layer1);
	padding: var(--small);
	border-radius: var(--small);
}

/* Layout */
/** Alignment **/
.language-mermaid {
	display: block;
	margin-inline: auto;
	max-width: fit-content;
}
img {
	display: block;
	margin-inline: auto;
	max-width: 100%;
}
pre {
	overflow-x: auto;
}
mjx-container {
	overflow-x: auto;
}
table {
	display: block;
	margin-inline: auto;
	max-width: fit-content;
	overflow-x: auto;
}
/** Body **/
body {
	background-color: var(--layer0);
	margin: 0;
}
/** Header **/
header {
	background-color: var(--layer1);
	display: flex;
	justify-content: space-between;
	padding: var(--medium);
	position: relative;
}
header>ul {
	background-color: var(--layer1);
	border-radius: var(--small);
	position: absolute;
	right: 0;
	top: 100%;
	width: #{'min(30em,100%)'};
}
/** Footer **/
.right > footer {
	background-color: var(--layer1);
	text-align: center;
	padding: var(--medium);
}
footer > .post-count {
	float: right;
}
article > footer {
	display: flex;
	justify-content: space-between;
	gap: var(--medium);
}

main {
	padding: var(--layer1);
}
body > .container {
	display: flex;
}



/* Infoboxes */
.success, .info, .warning, .error {
	padding: var(--small);
	border-radius: var(--small);
}
/** Success **/
.success {
	background-color: #{'hsla(var(--success), var(--transparent))'};
	border: 1px solid #{'hsl(var(--success))'};
}
/** Info **/
.info {
	background-color: #{'hsla(var(--info), var(--transparent))'};
	border: 1px solid #{'hsl(var(--info))'};
}
/** Warning **/
.warning {
	background-color: #{'hsla(var(--warning), var(--transparent))'};
	border: 1px solid #{'hsl(var(--warning))'};
}
/** Error **/
.error {
	background-color: #{'hsla(var(--error), var(--transparent))'};
	border: 1px solid #{'hsl(var(--error))'};
}

/* Nav */
.skip-to-content {
	padding: 8px;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s;
}
.skip-to-content:focus {
	transform: translateY(0%);
}
