:root {
	--brand: hsl(212, 90%, 45%);
	--color0: hsl(0, 0%, 5%);
	--color1: hsl(0, 0%, 25%);
	--color2: hsl(0, 0%, 45%);
	--layer0: hsl(0, 0%, 100%);
	--layer1: hsla(0, 0%, 70%, 20%);
	--layer2: hsl(0, 0%, 80%);
	--success: 110.9, 100%, 42.5%;
	--info: 212, 90%, 45%;
	--warning: 38.2, 73.6%, 49%;
	--error: 317, 73.6%, 49%;
	--transparent: 10%;
}
