/* base */
.base-topbar {
  background-color: #f6f8fa;
}
footer {
  background-color: #f6f8fa;
}

/* leftnav */
.leftnav > ul > li > a  {
  border-bottom-color: #d8dee4;
}

/* toc */
.toc:before {
	background-image: linear-gradient(to top, rgba(255,255,255,0), #FFF);
}
.toc:after {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0), #FFF);
}
.toc-content > ul > li > a {
  border-bottom-color: #d8dee4;
}
