.content {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}
@media (max-width: 767px) {
	.content {
		padding: 15px;
	}
}

.topnav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
	min-width: 200px;
	max-width: 980px;
	padding: 0 45px 0 45px;
	margin: 0 auto;
	overflow: auto;
}
.scroll-topnav {
  overflow: auto;
  white-space: nowrap;
}

.scroll-topnav a {
  display: inline-block;
  text-align: center;
  padding: 16px 0 16px 32px;
  text-decoration: none;
}
.site-title a {
  display: block;
  text-align: center;
  white-space: nowrap;
}
.site-title a {
  padding: 16px 0 16px 0px;
}
.site-title {
  float: left;
  margin: 0;
}
