/* base */
.base-topbar {
  background-color: #21262d;
}
footer {
  background-color: #21262d;
}

/* toc */
.default-toc:before {
	background-image: linear-gradient(to top, rgba(13,17,23,0), #0D1117);
}
.default-toc:after {
	background-image: linear-gradient(to bottom, rgba(13,17,23,0), #0D1117);
}

/* leftnav */
/*.default-leftnav, .archive-leftnav {
  background-color: #21262d;
}*/
