/* responsive */
@media (max-width: 1570px) {
  .toc {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 1320px) {
  .leftnav {
    visibility: hidden;
    opacity: 0;
    min-width: 0!important;
    max-width: 0 !important;
  } 
  .toc {
    visibility: hidden;
    opacity: 0;
    min-width: 0!important;
    max-width: 0 !important;
  }
  .leftnav-button {
    display: block!important;
  }
  .base-topnav, .base-searchbar {
	  padding: 0 16px 0 16px!important;
  }
  .post-content, .home {
	  padding: 24px 16px 24px 16px!important;
  }
}

/* document */
html {
  scroll-behavior: smooth;
}
.markdown-body-footer {
	clear: left;
	text-align: center;
	padding: 16px;
}

/* home */
.home {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 24px 45px 24px 45px;
	transition: padding 0.5s;
}

/* post */

.post {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.post-content {
  order: 2;
  flex: 0 1 980px;
  max-width: 980px;
  min-width: 200px;
  box-sizing: border-box;
	padding: 24px 45px 24px 45px;
	transition: padding 0.5s;
	overflow: auto;
}
mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}

/* archive */
.archive-tagcloud {
  line-height: 1.75em;
}

/* base */
.base-topnav {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	min-width: 200px;
	max-width: 980px;
	padding: 0 45px 0 45px;
	transition: padding 0.5s;
	margin: 0 auto;
}
.base-topnav-title a {
	display: inline-block;
	white-space: nowrap;
	padding: 16px 16px 16px 0;
}
.base-topnav-spacer {
  flex: 1 0 auto;
}
.base-topnav-scroll {
	overflow-x: auto;
	white-space: nowrap;
	transition: width 0.5s, opacity 0.5s;
}
.base-topnav-scroll a {
	display: inline-block;
	padding: 16px 16px 16px 16px;
}
.base-topnav-search i {
  display: inline-block;
	white-space: nowrap;
	padding: 16px 0 16px 16px;
}
.base-topbar-search {
  transition: padding 0.5s;
}
.base-searchbar {
	box-sizing: border-box;
  min-width: 200px;
	max-width: 980px;
	padding: 0 45px 0 45px;
	transition: padding 0.5s;
	margin: 0 auto;
}
.base-searchbar-entry{
  display: flex;
	flex: 0 1 0;
  max-width: 0px;
	margin: 8px 0 8px 0;
  transition: flex 0.5s, margin 0.5s, min-width 0.5s, max-width 0.5s; 
}
.base-searchbar-input {
	box-sizing: border-box;
  border: none;
	border-radius: 8px;
	padding: 8px 0px 8px 0px;
	width: 0;
	height: 40px;
	margin-right: 0;
	margin-left: auto;
	transition: padding 0.5s, width 0.5s;
}
#topnav-search-icon {
  margin: 4px 0 4px 0;
}
.base-searchbar-results {
	overflow: auto;
  text-align: right;
}
.base-searchbar-results ul {
	list-style-type: none;
	margin: 0;
}

/* leftnav */
.leftnav {
  order: 1;
  flex: 1 0 0;
  min-width: 160px;
  white-space: nowrap;
  overflow: hidden;
	transition: min-width 0.2s, max-width 0.2s, visibility 0.2s, opacity 0.2s;
}
.leftnav-wrapper {
  padding: 45px;
}
.leftnav-wrapper li {
	list-style-type: none;
}
.leftnav-wrapper > ul {
  padding: 0;
}
.leftnav-wrapper > ul > li > a {
  font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 2em;
	padding: 0.25em 0 0.25em 0;
	font-size: 0.9rem;
}
.leftnav-wrapper > ul > ul {
  padding: 0;
	font-size: 0.8rem;
}
.leftnav-button {
  display: none;
  position: fixed;
  bottom: 45px;
  left: 45px;
  border-radius: 8px;
  padding: 20px;
  border: none;
  opacity: 90%;
}

/* toc */
.toc {
  order: 3;
  flex: 1 0 0;
  min-width: 160px;
  box-sizing: border-box;
	position: sticky;
	top: 0;
	height: calc(100vh);
	overflow:auto;
	transition: min-width 0.2s, max-width 0.2s, visibility 0.2s, opacity 0.2s;
}
.toc:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 45px;
  pointer-events: none;
}
.toc:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	pointer-events: none;
}
.toc-content, .default-toc-content {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	padding: 45px;
}
.toc-content > ul, .default-toc-content > ul {
  padding-left: 0;
}
.toc-content li, .default-toc-content li {
	list-style-type: none;
}
.toc-content > ul > li > a {
  font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 2em;
	padding: 0.25em 0 0.25em 0;
	font-size: 0.9rem;
}
.toc-content > ul > li > ul > li > a, .default-toc-content > ul > li > a {
  font-weight: bold;
}
.toc-content > ul > li > ul > li a, .default-toc-content {
	font-size: 0.8rem;
}
.toc-content > ul > li > ul {
  padding: 0;
}
