/* document */
html {
  scroll-behavior: smooth;
}
footer {
	clear: left;
	text-align: center;
	padding: 16px;
}

/* home */
.home {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 16px 24px 16px;
	transition: padding 0.5s;
}

/* post */

.post {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.post-content {
  order: 4;
  flex: 0 1 980px;
  max-width: 980px;
  min-width: 200px;
  box-sizing: border-box;
	padding: 0 16px 24px 16px;
	transition: padding 0.5s;
	overflow: auto;
}
mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
}
.post-pagenav {
  display: flex;
}
.post-pagenav-left {
  flex: 1 auto;
  padding-right: 16px;
}
.post-pagenav-right {
  flex: 1 auto;
  text-align: right;
  padding-left: 16px;
}

/* archive */
.archive-tagcloud {
  line-height: 1.75em;
}

/* base */
.base-topnav {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	min-width: 200px;
	max-width: 980px;
	padding: 0 16px;
	transition: padding 0.5s;
	margin: 0 auto;
}
.base-topnav-title a {
	display: inline-block;
	white-space: nowrap;
	padding: 16px 8px 16px 0;
}
.base-topnav-spacer {
  flex: 1 0 auto;
}
.base-topnav-scroll {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	transition: width 0.5s, opacity 0.5s;
}
.base-topnav-scroll a {
	display: inline-block;
	padding: 16px 16px 16px 16px;
}
.base-topnav-search i {
  display: inline-block;
	white-space: nowrap;
	padding: 16px 0 16px 16px;
}
.base-topbar-search {
  transition: padding 0.5s;
}
.base-searchbar {
	box-sizing: border-box;
  min-width: 200px;
	max-width: 980px;
	padding: 0 16px;
	transition: padding 0.5s;
	margin: 0 auto;
}
.base-searchbar-entry{
  display: flex;
	flex: 0 1 0;
  max-width: 0px;
	margin: 8px 0 8px 0;
  transition: flex 0.5s, margin 0.5s, min-width 0.5s, max-width 0.5s; 
}
.base-searchbar-input {
	box-sizing: border-box;
  border: none;
	border-radius: 8px;
	padding: 8px 0px 8px 0px;
	width: 0;
	height: 40px;
	margin-right: 0;
	margin-left: auto;
	transition: padding 0.5s, width 0.5s;
}
#topnav-search-icon {
  margin: 4px 0 4px 0;
}
.base-searchbar-results {
	overflow: auto;
  text-align: right;
}
.base-searchbar-results ul {
	list-style-type: none;
	margin: 0;
}

/* leftnav */
.leftnav {
  order: 1;
  flex: 1 0 0;
  min-width: 180px;
  white-space: nowrap;
  box-sizing: border-box;
	position: sticky;
	top: 0;
	max-height: calc(100vh);
	overflow: hidden;
	transition: min-width 0.2s, max-width 0.2s, visibility 0.2s, opacity 0.2s, max-height 0.5s;
}
.leftnav:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 24px;
  pointer-events: none;
}
.leftnav:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 24px;
	pointer-events: none;
}
.leftnav-content {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 24px;
	text-align: right;
}
.leftnav-content > ul {
  padding-left: 0;
  margin-bottom: 0;
}
.leftnav-content li {
	list-style-type: none;
}
.leftnav-content > ul > li > a {
  font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 2em;
	padding: 0.25em 0 0.25em 0;
	font-size: 0.9rem;
}
.leftnav-content > ul > li > ul > li > a {
  font-weight: bold;
}
.leftnav-content > ul > li > ul > li a {
	font-size: 0.8rem;
}
.leftnav-content > ul > li > ul {
  padding: 0;
}
/*.leftnav-button {
  display: none;
  position: fixed;
  bottom: 45px;
  left: 45px;
  border-radius: 8px;
  padding: 20px;
  border: none;
  opacity: 90%;
  z-index: 999;
}*/
.leftnav-accordion-bar, .leftnav-accordion-bar-default {
  display: none;
}

/* toc */
.toc, .toc-archive {
  order: 5;
  flex: 1 0 0;
  min-width: 180px;
  box-sizing: border-box;
	position: sticky;
	top: 0;
	max-height: calc(100vh);
	overflow:hidden;
	transition: min-width 0.2s, max-width 0.2s, visibility 0.2s, opacity 0.2s, max-height 0.5s;
}
.toc:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 24px;
  pointer-events: none;
}
.toc:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 24px;
	pointer-events: none;
}
.toc-content, .default-toc-content {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 24px;
}
.toc-content > ul, .default-toc-content > ul {
  padding-left: 0;
  margin-bottom: 0;
}
.toc-content li, .default-toc-content li {
	list-style-type: none;
}
.toc-content > ul > li > a {
  font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	line-height: 2em;
	padding: 0.25em 0 0.25em 0;
	font-size: 0.9rem;
}
.toc-content > ul > li > ul > li > a, .default-toc-content > ul > li > a {
  font-weight: bold;
}
.toc-content > ul > li > ul > li a, .default-toc-content {
	font-size: 0.8rem;
}
.toc-content > ul > li > ul {
  padding: 0;
}
.toc-accordion-bar, .toc-accordion-bar-archive {
  display: none;
}

/* responsive */
@media (max-width: 1520px) {
  .toc-accordion-bar, .toc-accordion-bar-archive {
    width: 100%;
    order: 2;
    display: block;
  }
  .toc-accordion-bar-archive {
    height: 0;
    overflow: hidden;
  }
  .toc-accordion {
    box-sizing: border-box;
	  margin: 0 auto;
    display: flex;
    min-width: 200px;
	  max-width: 980px;
	  padding: 0 16px;
    justify-content: space-between;
  }
  .toc-accordion-text, .toc-accordion-icon {
    padding: 8px 0;
  }
  .toc:before {
    height: 16px;
  }
  .toc:after {
	  height: 16px;
  }
  .toc, .leftnav, .toc-archive {
    flex: 1 auto;
    position: relative;
    max-height: 0;
    max-width: 980px;
  }
  .toc, .toc-archive {
    order: 3;
  }
  .toc-archive {
    display: none;
  }
  .leftnav {
    order: 1;
  }
  .leftnav-accordion-bar, .leftnav-accordion-bar-not-default {
    width: 100%;
    order: 0;
    display: block;
  }
  .leftnav-accordion-bar-default {
    height: 0;
    overflow: hidden;
  }
  .leftnav-accordion {
    box-sizing: border-box;
	  margin: 0 auto;
    display: flex;
    min-width: 200px;
	  max-width: 980px;
	  padding: 0 16px;
    justify-content: space-between;
  }
  .leftnav-accordion-text, .leftnav-accordion-icon {
    padding: 8px 0;
  }
  .leftnav-content, .toc-content, .default-toc-content {
    padding: 16px;
  }
  .leftnav-content {
	  text-align: unset;
  }
  .leftnav:before {
    height: 16px;
  }
  .leftnav:after {
	  height: 16px;
  }
  .accordion-spacer {
    width: 100%;
    order: 4;
    display: block;
  }
}

/* Internet Explorer Specific */
.message-of-dissapointment-container {
  display: none;
  min-height: calc(100vh - 136px);
  position: relative;
}
.message-of-dissapointment {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .message-of-dissapointment-container {
    display: inherit;
  }
  .base-topbar, .home, .post {
    display: none;
  }
}
