/* base */
.base-topbar {
  background-color: #21262d;
}
.base-topbar-search {
  background-color: #2c323c;
}
footer {
  background-color: #21262d;
}

/* leftnav */
.leftnav-content > ul > li > a  {
  border-bottom-color: #21262d;
}
.leftnav-button {
  background-color: #21262d;
  color: #c9d1d9;
}

/* toc */
.toc:before {
	background-image: linear-gradient(to top, rgba(13,17,23,0), #0D1117);
}
.toc:after {
	background-image: linear-gradient(to bottom, rgba(13,17,23,0), #0D1117);
}
.toc-content > ul > li > a {
  border-bottom-color: #21262d;
}
