:root {
  --bg-color: #121212;
  --bg-color-rgb: 18,18,18;  
  --bg-layer-1: #1d1d1d;
  --bg-layer-2: #272727;
  --bg-layer-3: #2e2e2e;
}
/* base */
.base-topbar {
  background-color: var(--bg-layer-1);
}
.base-topbar-search {
  background-color: var(--bg-layer-2);
}
.base-searchbar-input {
	background-color: var(--bg-layer-2);
}
footer {
  background-color: var(--bg-layer-1);
}

/* leftnav */
.leftnav:before {
	background-image: linear-gradient(to top, rgba(var(--bg-color-rgb),0), var(--bg-color));
}
.leftnav:after {
	background-image: linear-gradient(to bottom, rgba(var(--bg-color-rgb),0), var(--bg-color));
}
.leftnav-content > ul > li > a  {
  border-bottom-color: var(--bg-layer-1);
}
.leftnav-accordion-bar {
  background-color: var(--bg-layer-3);
}

/* toc */
.toc:before {
	background-image: linear-gradient(to top, rgba(var(--bg-color-rgb),0), var(--bg-color));
}
.toc:after {
	background-image: linear-gradient(to bottom, rgba(var(--bg-color-rgb),0), var(--bg-color));
}
.toc-content > ul > li > a {
  border-bottom-color: var(--bg-layer-1);
}
.toc-accordion-bar {
  background-color: var(--bg-layer-3);
}
