---
---
:root {
  color-scheme: light dark; /* both supported */
}
/* light mode */
@import 'github-markdown-light';
@import 'alerts-light';
@import 'highlighting/syntax-github';

/* dark mode */
@media (prefers-color-scheme: dark) {
  @import 'github-markdown-dark';
  @import 'alerts-dark';
  @import 'highlighting/syntax-base16.monokai.dark';
}

/* agnostic */
@import 'alerts';
@import 'mermaid';
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}
@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}
